{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
 <!-- main header -->

{{> site-header}}

<main class="yb-main-content">
    <section id="about" class="yb-section">
      <div class="yb-my-profile">
        <div class="uk-container">
          <div class="uk-grid-collapse uk-child-width-expand@m" data-uk-grid>
            <div>
              <div class="yb-my-profile-img uk-background-cover uk-background-norepeat uk-background-bottom-center" data-src="assets/app/img/create-a-life.jpg" data-uk-img data-uk-lightbox>
                {{!-- <a href="https://www.youtube.com/watch?v=uQBL7pSAXR8" class="yb-my-intro">
                  <span data-uk-icon="icon: play; ratio: 2"></span>
                  <span class="yb-my-intro-text">Introduction</span>
                </a> --}}
              </div>
            </div>
            <div>
              <div class="yb-my-profile-desc">
                <div class="yb-section-point-wrapper">
                  <div class="yb-section-point right">
                    <sup>02</sup>
                    <span>About</span>
                  </div>
                </div>
                <div class="yb-my-profile-desc-top">
                  <h2 class="yb-section-title">Hello There!</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero sint exercitationem vero magnam dolorem, quod odit distinctio consequatur eos, porro in, repudiandae earum dicta culpa labore a inventore. Cupiditate, eaque?
                  </p>
                </div>
                <div class="yb-my-profile-desc-bottom yb-bg-soft">
                  <ul class="yb-my-profile-desc-info uk-list">
                    <li>
                      <span>Birthdate</span> : Mar 02 1994
                    </li>
                    <li>
                      <span>Telegram</span> : @ttduongtran
                    </li>
                    <li>
                      <span>Phone</span> : <a href="tel:09199974606" class="uk-light">+84 919 997 4606</a>
                    </li>
                    <li>
                      <span>Email</span> : <a href="mailto:ttduongtran@gmail.com" class="uk-light">ttduongtran@gmail.com</a>
                    </li>
                    <li>
                      <span>Website</span> : <a target="_blank" href="https://duongtran.info/" class="uk-light">duongtran.info</a>
                    </li>
                    <li>
                      <span>Github</span> : <a target="_blank" href="https://github.com/ttduongtran" class="uk-light">github.com/ttduongtran</a>
                    </li>
                    <li>
                      <span>Addresses</span> : Binh Thanh District, Ho Chi Minh City, VN
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yb-border-top yb-border-bottom ">
        <div class="uk-container">
          <div data-uk-grid class="yb-box-services uk-child-width-1-4@l uk-child-width-1-2 uk-text-center uk-grid-divider">
            <div>
              <div class="yb-box-service">
                <span class="uk-icon" data-uk-icon="icon: world; ratio: 1.5"></span>
                <h5>Web Marketer</h5>
              </div>
            </div>
            <div>
              <div class="yb-box-service">
                <span class="uk-icon" data-uk-icon="icon: paint-bucket; ratio: 1.5"></span>
                <h5>UX/UI Designer</h5>
              </div>
            </div>
            <div>
              <div class="yb-box-service">
                <span class="uk-icon" data-uk-icon="icon: laptop; ratio: 1.5"></span>
                <h5>SEO Website</h5>
              </div>
            </div>
            <div>
              <div class="yb-box-service">
                <span class="uk-icon" data-uk-icon="icon: settings; ratio: 1.5"></span>
                <h5>Web/App Developer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- end about section -->
    <!-- resume section -->
    <section class="yb-section " id="resume">
      <div class="yb-section-point-wrapper">
        <div class="uk-container">
          <div class="yb-section-point">
            <sup>03</sup>
            <span>Resume</span>
          </div>
        </div>
      </div>
      <div class="uk-container">
        <div data-uk-grid class="uk-grid-divider">
          <div class="uk-width-1-4@s uk-visible@s uk-margin-large-bottom yb-section-padding-top " id="resume-nav-wrapper">
            <div data-uk-sticky="bottom: #resume-nav-wrapper; offset: 100; media: 650">
              <ul class="yb-nav-left uk-tab-left uk-tab" data-uk-scrollspy-nav="closest: li; scroll: false; offset: 120">
                <li class="uk-active">
                  <a href="#education" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Education
                  </a>
                </li>
                <li>
                  <a href="#experience" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Experience
                  </a>
                </li>
                <li>
                  <a href="#skills" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Skills
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="uk-width-expand@s yb-section-padding-top">
            <div>
              <h2 class="yb-section-title uk-heading-line" id="education">
                <span>Education</span>
              </h2>
              <div class="yb-resume-list">
                <ul class="uk-list uk-list-large uk-list-divider">
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2012-2017</span></div>
                      </div>
                      <h4 class="yb-section-title">The Engineering degree of Faculty of Information Systems</h4>
                      <strong>University of Information Technology</strong>
                      <div class="uk-text-small"></div>
                    </div>
                  </li>
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>June 2014</span></div>
                      </div>
                      <h4 class="yb-section-title">Scrum courses for IT students</h4>
                      <strong>Program of cooperation between University of Information Technology and Axon Active Company</strong>
                      <div class="uk-text-small">
                        <p>Learned the Scrum theory through group games & exercises. Practice and present small project with team (Team size: 4-6 members). </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2017</span></div>
                      </div>
                      <h4 class="yb-section-title">Certificate of Java Web</h4>
                      <strong>FPT Nano</strong>
                      <div class="uk-text-small">
                        <p>Finish course of java web (servlet, spring, hibernate)</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <h2 class="yb-section-title  uk-heading-line " id="experience">
                <span>Experience</span>
              </h2>
              <div class="yb-resume-list">
                <ul class="uk-list uk-list-large uk-list-divider">
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2017 - Present</span></div>
                      </div>
                      <h4 class="yb-section-title">Web Developer</h4>
                      <strong>Wao Studio</strong>
                      <div class="uk-text-small pt-2">
                        <div>In Wao, I'm a frontend develop. Sometimes, I still work as same as backend develop.</div>
                        <div><strong>Position:</strong> Web developer</div>
                        <div><strong>Technical:</strong> Ruby on Rails, Reactjs, PHP</div>
                        <div class="mt-1">The projects which I have join in:</div>
                        <ul>
                          <li><strong>CMS manage building:</strong> I develop client side</li>
                          <li><strong>E-commerce projects:</strong> I work as a FE and BE developer.</li>
                          <li><strong>Blockchain projects:</strong>Almost of projects I am a frontend.</li>
                          <li><strong>Landing page:</strong> I work as a FE and BE developer</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2017 - Present</span></div>
                      </div>
                      <h4 class="yb-section-title">Web Designer</h4>
                      <strong>Quantity Training Solutions (QTS)</strong>
                      <div class="uk-text-small mt-2">
                        <div><strong>Position:</strong> IT</div>
                        <div><strong>Technical:</strong> Ruby on Rails, PHP (Wordpress)</div>
                        <div>Develop and maintain there website.</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2017-2018</span></div>
                      </div>
                      <h4 class="yb-section-title">Web Developer</h4>
                      <strong>Genesys</strong>
                      <div class="uk-text-small mt-2">
                        <div><strong>Position:</strong> PHP Developer</div>
                        <div><strong>Technical:</strong> PHP</div>
                        <div>Develop and maintain there products.</div>
                        <div>Develop outsourcing projects.</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="yb-resume-item">
                      <div class="yb-resume-item-date">
                        <div class="yb-resume-item-date-icon"> <span data-uk-icon="calendar"></span></div>
                        <div class="yb-resume-item-date-text"><span>2016-2017</span></div>
                      </div>
                      <h4 class="yb-section-title">Trainee Web Developer</h4>
                      <strong>Skynet</strong>
                      <div class="uk-text-small mt-2">
                        <div><strong>Position:</strong> Trainee web develop</div>
                        <div><strong>Technical:</strong> PHP, JQuery, HTML5, CSS3</div>
                        <div>Develop and maintain there products.</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <h2 class="yb-section-title  uk-heading-line " id="skills">
                <span>Skills</span>
              </h2>
              <div class="yb-margin-top-1 yb-margin-bottom-2">
                <div class="uk-grid-collapse  uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-text-center" data-uk-grid>
                  
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.6">
                        <strong>60<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">ROR</h5>
                    </div>
                  </div>
                  <div>
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.6">
                        <strong>60<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">PHP</h5>
                    </div>
                  </div>
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.4">
                        <strong>40<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">Nodejs</h5>
                    </div>
                  </div>
                  <div>
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.8">
                        <strong>80<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">React/Redux</h5>
                    </div>
                  </div>
                  <div>
                    <div>
                      <div class="yb-box-circle">
                        <div class="circle-progress " data-value="0.85">
                          <strong>85<i>%</i></strong>
                        </div>
                        <h5 class="yb-box-circle-title">Javascript</h5>
                      </div>
                    </div>
                  </div>
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.85">
                        <strong>85<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">HTML</h5>
                    </div>
                  </div>
                  <div>
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.85">
                        <strong>85<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">CSS</h5>
                    </div>
                  </div>
                  
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.5">
                        <strong>50<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">Vuejs</h5>
                    </div>
                  </div>
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.5">
                        <strong>50<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">Docker</h5>
                    </div>
                  </div class="yb-bg-soft">
                  <div>
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.6">
                        <strong>60<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">Postgresql</h5>
                    </div>
                  </div>
                  <div class="yb-bg-soft">
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.6">
                        <strong>60<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">Mysql</h5>
                    </div>
                  </div>
                  <div>
                    <div class="yb-box-circle">
                      <div class="circle-progress " data-value="0.8">
                        <strong>80<i>%</i></strong>
                      </div>
                      <h5 class="yb-box-circle-title">GIT</h5>
                    </div>
                  </div>
                </div>
                <div data-uk-grid class="uk-child-width-1-2">
                  <div>
                    <h4 class="yb-section-title">Soft Skills</h4>
                    <ul class="uk-list uk-list-large  uk-list-divider">
                      <li>
                        <div class="yb-resume-skill-item">
                          <h5>
                            Problem Solving <small class="uk-float-right uk-text-bold uk-visible@s">90%</small>
                          </h5>
                          <progress class="uk-progress" value="90" max="100"></progress>
                        </div>
                      </li>
                      <li>
                        <div class="yb-resume-skill-item">
                          <h5>
                            Time Management <small class="uk-float-right uk-text-bold uk-visible@s">80%</small>
                          </h5>
                          <progress class="uk-progress" value="80" max="100"></progress>
                        </div>
                      </li>
                      <li>
                        <div class="yb-resume-skill-item">
                          <h5>
                            Team Work <small class="uk-float-right uk-text-bold uk-visible@s">90%</small>
                          </h5>
                          <progress class="uk-progress" value="90" max="100"></progress>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="yb-section-title">Language </h4>
                    <ul class="uk-list uk-list-large uk-list-divider">
                      <li>
                        <div class="yb-resume-skill-item">
                          <h5>
                            English <small class="uk-float-right uk-text-bold uk-visible@s">80%</small>
                          </h5>
                          <progress class="uk-progress" value="80" max="100"></progress>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yb-section yb-section-padding uk-background-cover uk-background-fixed " data-uk-parallax="bgy: -200" data-src="assets/app/img/bg/bg2.jpg" data-uk-img>
        <div class="yb-overlay-primary uk-position-cover"></div>
        <div class="uk-container uk-text-center uk-position-relative">
          <div data-uk-grid class="uk-grid-small  uk-flex-center">
            <div>
              <a target="_blank" href="https://www.linkedin.com/in/duong-tran-developer" class=" yb-btn uk-button uk-button-primary uk-button-large">My Profile</a>
            </div>
            <div>
              <a href="#contact" class="yb-inner-link yb-btn uk-button uk-button-danger  uk-button-large">Hire Me</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- end resume section -->
    <!-- portfolio section -->
    {{!-- <section class="yb-section  uk-overflow-hidden" id="portfolio">
      <div class="yb-section-point-wrapper">
        <div class="uk-container">
          <div class="yb-section-point">
            <sup>04</sup>
            <span>Portfolio</span>
          </div>
        </div>
      </div>
      <div class="uk-container ">
        <div data-uk-grid class="uk-grid-divider">
          <div class="uk-width-1-4@s uk-visible@s uk-margin-large-bottom yb-section-padding-top" id="portfolio-nav-wrapper">
            <div data-uk-sticky="bottom: #portfolio-nav-wrapper; offset: 100; media: 650">
              <ul class="yb-nav-left uk-tab-left uk-tab" data-uk-scrollspy-nav="closest: li; scroll: false; offset: 120">
                <li class="uk-active">
                  <a href="#myworks" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    My Works
                  </a>
                </li>
                <li>
                  <a href="#pricing" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Pricing
                  </a>
                </li>
                <li>
                  <a href="#testi" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Testimonial
                  </a>
                </li>
                <li>
                  <a href="#client" class="yb-inner-link" data-offset="120">
                    <span data-uk-icon="minus"></span>
                    Clients
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="uk-width-expand@s yb-section-padding-top">
            <div>
              <h2 class="yb-section-title uk-heading-line " id="myworks"><span>My Works</span></h2>
              <div data-uk-filter="target: .js-filter" class="yb-margin-top-1 yb-margin-bottom-1">
                <ul class="yb-nav-filter uk-subnav uk-subnav-pill ">
                  <li><a data-uk-filter-control>All</a></li>
                  <li><a data-uk-filter-control=".data-web">Web</a></li>
                  <li><a data-uk-filter-control=".data-brand">Brand</a></li>
                  <li><a data-uk-filter-control=".data-design">Design</a></li>
                </ul>
                <ul class="js-filter uk-child-width-1-2  uk-grid-small  " data-uk-grid data-uk-lightbox="animation: fade;  toggle: .yb-lightbox">
                  <li class="data-web ">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/01.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/01.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Web">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-01.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-01.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Web</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-brand data-web">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/02.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/02.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Brand, Web">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-02.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-02.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Brand, Web</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-web">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/03.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/03.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Web">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-03.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-03.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Web</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-web data-design">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/04.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/04.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Web, Design">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-04.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-04.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Web, Design</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-design">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/05.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/05.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Design">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-05.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-05.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Design</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-design">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/06.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/06.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Design">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-06.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-06.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Design</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-brand">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/07.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/07.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Brand">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-07.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-07.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Brand</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-design">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/08.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/08.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Design">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-08.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-08.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Design</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-brand">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/09.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/09.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Brand">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-09.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-09.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Brand</span>
                        </div>
                      </a>
                    </div>
                  </li>
                  <li class="data-web">
                    <div class="yb-work-item uk-transition-toggle">
                      <div class="yb-work-item-img-wrap">
                        <div class="yb-work-item-img">
                          <img src="assets/app/img/empty.png" width="383" height="574" data-src="assets/app/img/work/10.jpg" class="uk-transition-scale-up uk-transition-opaque" alt="" data-uk-img />
                        </div>
                        <div class="yb-work-item-overlay uk-transition-fade uk-position-cover uk-position-small uk-overlay  uk-flex uk-flex-center uk-flex-middle">
                          <div>
                            <a href="assets/app/img/work/10.jpg" class="yb-lightbox uk-transition-slide-left" data-caption="Caption Title Web">
                              <span data-uk-icon="icon:plus; ratio:1.2"></span>
                            </a>
                            <a href="project/project-details-10.html" class="uk-transition-slide-right show-portfolio">
                              <span data-uk-icon="icon:link; ratio:1.2"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <a href="project/project-details-10.html" class="show-portfolio">
                        <div class="yb-work-item-title">
                          <h5>Project Title</h5>
                          <span>Web</span>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
                <div id="show-portofolio-details" class="uk-modal-full" data-uk-modal>
                  <div class="uk-modal-dialog ">
                    <button class="uk-modal-close-full uk-close-large" type="button" data-uk-close></button>
                    <div id="portofolio-details" data-uk-height-viewport class="uk-animation-toggle uk-overflow-hidden">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="pricing">
              <h2 class="yb-section-title uk-heading-line "><span>Pricing</span></h2>
              <div class="yb-margin-top-1 yb-margin-bottom-2">
                <div data-uk-grid class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-1 uk-grid-medium">
                  <div>
                    <div class="yb-pricing-item">
                      <div class="uk-card">
                        <div class="uk-card-header">
                          <h4>Front-End Developer</h4>
                          <div class="yb-pricing-item-price">
                            <strong>$ 40</strong>
                            <span>/h</span>
                          </div>
                        </div>
                        <div class="uk-card-body">
                          <small class="uk-text-muted">Details:</small>
                          <ul class="uk-list  uk-list-divider uk-text-small mt-2">
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              HTML5
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              CSS3
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Angular jS
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Vue jS
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              React jS
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="yb-pricing-item">
                      <div class="uk-card">
                        <div class="uk-card-header">
                          <h4>Back-End Developer</h4>
                          <div class="yb-pricing-item-price">
                            <strong>$ 60</strong>
                            <span>/h</span>
                          </div>
                        </div>
                        <div class="uk-card-body">
                          <small class="uk-text-muted">Details:</small>
                          <ul class="uk-list  uk-list-divider uk-text-small">
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Ruby on Rails
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Laravel
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Go
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Node Js
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              Phoenix Elixir
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="yb-pricing-item">
                      <div class="uk-card">
                        <div class="uk-card-header">
                          <h4>Full-Stact Developer</h4>
                          <div class="yb-pricing-item-price">
                            <strong>$ 80</strong>
                            <span>/h</span>
                          </div>
                        </div>
                        <div class="uk-card-body">
                          <small class="uk-text-muted">Details:</small>
                          <ul class="uk-list  uk-list-divider uk-text-small">
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              <strong>Included</strong> Front-End Developer
                            </li>
                            <li>
                              <span class="uk-float-right uk-text-muted" data-uk-icon="check"></span>
                              <strong>Included</strong> Back-End Developer
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h2 class="yb-section-title uk-heading-line " id="testi"><span>Testimonial</span></h2>
              <div data-uk-slider>
                <div class="yb-margin-top-1 yb-margin-bottom-2">
                  <div data-uk-grid class="uk-grid-small">
                    <div class="uk-width-expand">
                      <div class="uk-slider-container">
                        <ul class="yb-slider-items uk-slider-items uk-child-width-1-1">
                          <li>
                            <div class="yb-testi-item">
                              <div class="yb-testi-item-desc">
                                <h4>Nice Design</h4>
                                For the first time I see such high-quality work, everything is just fine. The design is incredible,
                                a
                                lot of features and ready-made solutions.
                              </div>
                              <div class="yb-testi-item-img">
                                <div data-uk-grid class="uk-flex-middle uk-grid-small">
                                  <div>
                                    <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/people/01.jpg" alt="" data-uk-img>
                                  </div>
                                  <div class="uk-text-bold uk-text-small">
                                    <span>Ben</span>
                                    <span data-uk-icon="minus"></span>
                                    <span>Envato User</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="yb-testi-item">
                              <div class="yb-testi-item-desc">
                                <h4>Top Expectation</h4>
                                For the first time I see such high-quality work, everything is just fine. The design is incredible,
                                a
                                lot of features and ready-made solutions.
                              </div>
                              <div class="yb-testi-item-img">
                                <div data-uk-grid class="uk-flex-middle uk-grid-small">
                                  <div>
                                    <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/people/02.jpg" alt="" data-uk-img>
                                  </div>
                                  <div class="uk-text-bold uk-text-small">
                                    <span>Ben</span>
                                    <span data-uk-icon="minus"></span>
                                    <span>Envato User</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="yb-testi-item">
                              <div class="yb-testi-item-desc">
                                <h4>Wonderfull Work</h4>
                                For the first time I see such high-quality work, everything is just fine. The design is incredible,
                                a
                                lot of features and ready-made solutions.
                              </div>
                              <div class="yb-testi-item-img">
                                <div data-uk-grid class="uk-flex-middle uk-grid-small">
                                  <div>
                                    <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/people/03.jpg" alt="" data-uk-img>
                                  </div>
                                  <div class="uk-text-bold uk-text-small">
                                    <span>Ben</span>
                                    <span data-uk-icon="minus"></span>
                                    <span>Envato User</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="uk-width-auto">
                      <div class="yb-testi-nav">
                        <a href="#" data-uk-slider-item="next">
                          <span data-uk-icon="arrow-right"></span>
                        </a>
                        <a href="#" data-uk-slider-item="previous">
                          <span data-uk-icon="arrow-left"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h2 class="yb-section-title uk-heading-line " id="client"><span>Clients</span></h2>
              <div class="yb-margin-top-1 yb-margin-bottom-2">
                <div data-uk-grid class="uk-child-width-1-6@m uk-child-width-1-3">
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/01.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/02.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/03.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/04.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/05.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                  <div>
                    <div class="yb-client-item">
                      <img src="assets/app/img/empty.png" width="300" height="300" data-src="assets/app/img/client/06.png" alt="" class="uk-border-rounded" data-uk-img>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="yb-border-top yb-border-bottom">
        <div class="uk-container">
          <div data-uk-grid class="yb-box-services uk-child-width-1-4@l uk-child-width-1-2 uk-text-center uk-grid-divider">
            <div>
              <div class="yb-box-fact">
                <div class="yb-box-fact-count uk-h3">4441</div>
                <span class="yb-box-fact-desc ">Jobs Done</span>
              </div>
            </div>
            <div>
              <div class="yb-box-fact">
                <div class="yb-box-fact-count uk-h3">100%</div>
                <span class="yb-box-fact-desc">Recommended</span>
              </div>
            </div>
            <div>
              <div class="yb-box-fact">
                <div class="yb-box-fact-count uk-h3">673</div>
                <span class="yb-box-fact-desc">Repeat Clients</span>
              </div>
            </div>
            <div>
              <div class="yb-box-fact">
                <div class="yb-box-fact-count uk-h3">99%</div>
                <span class="yb-box-fact-desc">Happy Clients</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --}}
    <!-- end portfolio section -->
    <!-- blog section -->
    {{!-- <section class="yb-section yb-section-padding" id="blog">
      <div class="yb-section-point-wrapper">
        <div class="uk-container">
          <div class="yb-section-point">
            <sup>05</sup>
            <span>Blog</span>
          </div>
        </div>
      </div>
      <div class="uk-container">
        <h2 class="yb-section-title uk-heading-line"><span>Latest News</span></h2>

        <div data-uk-grid class="uk-grid-medium yb-margin-top-1 yb-margin-bottom-2">
          <div class="uk-width-2-3@m ">
            <a href="dark-blog-single.html">
              <div class="yb-blog-item uk-background-cover" data-src="assets/app/img/blog/01.jpg" data-uk-img>
                <div class="uk-overlay uk-position-cover"> </div>
                <div class="uk-overlay uk-position-top">
                  <span class="uk-badge">Life Story</span>
                </div>
                <div class="uk-overlay uk-position-bottom">
                  <h5 class="yb-blog-item-title uk-text-truncate">This Weeks Top Stories About Holidays</h5>
                  <div class="yb-blog-item-meta">
                    <div>
                      <span>May 7, 2019</span>
                    </div>
                    <div>
                      <span data-uk-icon="comment"></span> 120
                    </div>
                    <div>
                      <span data-uk-icon="heart"></span> 89
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="uk-width-1-3@m uk-width-1-2@s">
            <a href="dark-blog-single.html">
              <div class="yb-blog-item uk-background-cover" data-src="assets/app/img/blog/02.jpg" data-uk-img>
                <div class="uk-overlay uk-position-cover"> </div>
                <div class="uk-overlay uk-position-top">
                  <span class="uk-badge">Life Story</span>
                </div>
                <div class="uk-overlay uk-position-bottom">
                  <h5 class="yb-blog-item-title uk-text-truncate">This Weeks Top Stories About Holidays</h5>
                  <div class="yb-blog-item-meta">
                    <div>
                      <span>May 7, 2019</span>
                    </div>
                    <div>
                      <span data-uk-icon="comment"></span> 120
                    </div>
                    <div>
                      <span data-uk-icon="heart"></span> 89
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="uk-width-1-3@m uk-width-1-2@s">
            <a href="dark-blog-single.html">
              <div class="yb-blog-item uk-background-cover" data-src="assets/app/img/blog/03.jpg" data-uk-img>
                <div class="uk-overlay uk-position-cover"> </div>
                <div class="uk-overlay uk-position-top">
                  <span class="uk-badge">Life Story</span>
                </div>
                <div class="uk-overlay uk-position-bottom">
                  <h5 class="yb-blog-item-title uk-text-truncate">This Weeks Top Stories About Holidays</h5>
                  <div class="yb-blog-item-meta">
                    <div>
                      <span>May 7, 2019</span>
                    </div>
                    <div>
                      <span data-uk-icon="comment"></span> 120
                    </div>
                    <div>
                      <span data-uk-icon="heart"></span> 89
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="uk-width-1-3@m uk-width-1-2@s">
            <a href="dark-blog-single.html">
              <div class="yb-blog-item uk-background-cover" data-src="assets/app/img/blog/04.jpg" data-uk-img>
                <div class="uk-overlay uk-position-cover"> </div>
                <div class="uk-overlay uk-position-top">
                  <span class="uk-badge">Life Story</span>
                </div>
                <div class="uk-overlay uk-position-bottom">
                  <h5 class="yb-blog-item-title uk-text-truncate">This Weeks Top Stories About Holidays</h5>
                  <div class="yb-blog-item-meta">
                    <div>
                      <span>May 7, 2019</span>
                    </div>
                    <div>
                      <span data-uk-icon="comment"></span> 120
                    </div>
                    <div>
                      <span data-uk-icon="heart"></span> 89
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="uk-width-1-3@m uk-width-1-2@s">
            <a href="dark-blog-single.html">
              <div class="yb-blog-item uk-background-cover" data-src="assets/app/img/blog/05.jpg" data-uk-img>
                <div class="uk-overlay uk-position-cover"> </div>
                <div class="uk-overlay uk-position-top">
                  <span class="uk-badge">Life Story</span>
                </div>
                <div class="uk-overlay uk-position-bottom">
                  <h5 class="yb-blog-item-title uk-text-truncate">This Weeks Top Stories About Holidays</h5>
                  <div class="yb-blog-item-meta">
                    <div>
                      <span>May 7, 2019</span>
                    </div>
                    <div>
                      <span data-uk-icon="comment"></span> 120
                    </div>
                    <div>
                      <span data-uk-icon="heart"></span> 89
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <h5 class="uk-heading-line uk-text-right uk-text-bold">
          <a href="dark-blog-list.html" class="uk-link-heading">See More
            <span data-uk-icon="icon:arrow-right; ratio: 2"></span>
          </a>
        </h5>
      </div>
    </section> --}}
    <!-- end blog section -->
    <!-- contact section -->
    <section class="yb-section yb-border-top" id="contact">
      <div class="yb-section-point-wrapper">
        <div class="uk-container">
          <div class="yb-section-point ">
            <sup>06</sup>
            <span>Contact</span>
          </div>
        </div>
      </div>
      <div class="uk-container">
        <div data-uk-grid class=" uk-grid-divider">
          <div class="yb-section-padding yb-contact-left uk-width-3-4@m">
            <div>
              <h2 class="yb-section-title uk-heading-line ">
                <span>Get in touch</span>
              </h2>
              <p class="uk-text-bold">Feel free to contact me</p>
              <div id="contact-form-alert"></div>
              <form id="contact-form" class="uk-form-stacked">
                <div class="uk-grid uk-grid-small uk-child-width-1-2@s">
                  <div>
                    <div class="uk-margin">
                      <label for="f_email" class="uk-form-label">Email*</label>
                      <div class="uk-form-controls uk-inline uk-width-1-1">
                        <span class="uk-form-icon" data-uk-icon="icon: user"></span>
                        <input class="yb-input uk-input  uk-border-rounded" type="email" name="f_email" id="f_email" placeholder=" Your email here . . ." />
                      </div>
                      <small class="uk-text-danger err-msg" id="f_email_error"></small>
                    </div>
                  </div>
                  <div>
                    <div class="uk-margin">
                      <label for="f_phone" class="uk-form-label">Phone*</label>
                      <div class="uk-form-controls uk-inline uk-width-1-1">
                        <span class="uk-form-icon" data-uk-icon="icon: phone"></span>
                        <input class="yb-input uk-input uk-border-rounded" type="text" name="f_phone" id="f_phone" placeholder=" Your phone here . . ." />
                      </div>
                      <small class="uk-text-danger err-msg" id="f_phone_error"></small>
                    </div>
                  </div>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label">Subject*</label>
                  <div class="uk-form-controls uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="f_subject" value="General" checked />
                      General</label>
                    <label><input class="uk-radio" type="radio" name="f_subject" value="Project Preview" /> Project
                      Review</label>
                    <label><input class="uk-radio" type="radio" name="f_subject" value="Hire Me" /> Hire
                      Me</label>
                  </div>
                </div>
                <div class="uk-margin ">
                  <label for="f_message" class="uk-form-label">Message*</label>
                  <div class="uk-form-controls">
                    <textarea class="yb-input  uk-textarea uk-border-rounded" rows="7" name="f_message" id="f_message" placeholder="Your message here . . ."></textarea>
                  </div>
                  <small class="uk-text-danger err-msg" id="f_message_error"></small>
                </div>
                <div class="uk-margin-top">
                  <button class="uk-button uk-button-primary uk-button-large  yb-btn" type="submit" id="btn-contact-form" data-textreset="Send Now">
                    <span class="uk-margin-small-right btn-text-wrap">Send Now</span>
                    <span data-uk-icon="arrow-right" class="uk-icon"> </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class=" uk-width-1-4@m yb-section-padding yb-contact-right">
            <p class="uk-margin-medium-bottom uk-visible@m">
              <img src="assets/app/img/empty.png" data-src="assets/app/img/profile2.jpg" width="500" height="500" data-uk-img alt="" class="uk-border-circle" />
            </p>
            <ul class="uk-list uk-list-divider uk-text-small yb-contact-mini">
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="mail" class="uk-flex-none uk-text-primary "></span>
                <span> <a href="mailto:ttduongtran@gmail.com" class="uk-light"> ttduongtran@gmail.com</a></span>
              </li>
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="phone" class="uk-flex-none uk-text-primary"></span>
                <span><a href="tel:0919974606" class="uk-light">+84 91 997 4606</a></span>
              </li>
              <li class="uk-flex uk-flex-middle">
                <span data-uk-icon="location" class="uk-flex-none uk-text-primary "></span>
                <span>Binh Thanh District, Ho Chi Minh City, Viet Nam</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->
  </main> 
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

  // NOTE: Scroll performance is poor in Safari
  // - this appears to be due to the events firing much more slowly in Safari.
  //   Dropping the scroll event and using only a raf loop results in smoother
  //   scrolling but continuous processing even when not scrolling
  $(document).ready(function () {
    
    var nav = document.querySelector('.site-nav-main .site-nav');
    // var feed = document.querySelector('.post-feed');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
      lastScrollY = window.scrollY;
      requestTick();
    }

    function onResize() {
      lastWindowHeight = window.innerHeight;
      lastDocumentHeight = $(document).height();
      requestTick();
    }

    function requestTick() {
      if (!ticking) {
        requestAnimationFrame(update);
      }
      ticking = true;
    }

    function update() {
      // var trigger = feed.getBoundingClientRect().top + window.scrollY;
      var progressMax = lastDocumentHeight - lastWindowHeight;

      // show/hide nav
      // if (lastScrollY >= trigger - 20) {
      //  nav.classList.add('fixed-nav-active');
      // } else {
        // nav.classList.remove('fixed-nav-active');
      // }

      ticking = false;
    }

    window.addEventListener('scroll', onScroll, { passive: true });
    window.addEventListener('resize', onResize, false);

    update();

  });
</script>
{{/contentFor}}